<head>

    <center>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    h1 
    {
         color:green;
    }
    .navbar {
                height: 30px;
                width: auto;
                background-color: rgb(185, 194, 212);
}
    .navbar li 
    {
                color: rgb(191, 170, 170);
                margin-left: 10px;
                font-weight: bold;

                


    }
    
</style>
    </head>
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                
              </div>
              <ul class="nav navbar-nav">
                <li><a href="home.html" >calcculator</a></li>
                <li><a href="payment.html">payment</a></li>
              </ul>
            </div>
          </nav>
    
          <h1> welcome electircity</h1>

    </head>

    <h3>Id</h3>
<p>{{employee.id}}</p><hr>
<h3>Name</h3>
<p>{{employee.username}}</p><hr>
<h3>Email</h3>
<p>{{employee.email}}</p><hr>
<h3>amount</h3>
<p>{{employee.amount}}</p><hr>

</center>
</head>
