<!DOCTYPE html>
    <center>
    <html>
        <head>
            <meta charset="utf-8">
            
            <link rel="stylesheet" href="../static/style3.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        </head>
        <body>
            <div class="login">
                <div class="links">
                    
                </div>

 <br>
 <br>
 <br>
   <h1>Transaction failed</h1><br>
      <button onclick="window.location.href='/home'" >Back</button>
     </center>