
        <!DOCTYPE html>
        <center>
        <html>
            <head>
                <meta charset="utf-8">
                <link rel="stylesheet" href="../static/style1.css">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
            </head>
            <body>
                <div class="login">
                    <h1>Payment</h1>
                    <div class="links">
                        <a href="/get" class="active">payment</a>
                        <a href="/home">calculator</a>
                        <a href="/data">Data</a>
                    </div>
    </head>
    <body>
        <form method="POST">
            
            <input type="text" id="cusid" name="cusid" placeholder="CusID">
            <input type="submit" class="btn btn-success">
        </form>
    </body>
</html>