
    <!DOCTYPE html>
    <center>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Login</title>
            <link rel="stylesheet" href="../static/style1.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        </head>
        <body>
            <!-- {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %} -->
            <div class="login">
                <h1>Login</h1>
                <div class="links">
                    <a href="./login" class="active">Login</a>
                    <a href="/signup">Signup</a>
                </div>
    
    
        <form method="POST">
        
            <input type="text" id="username" name="username" placeholder="Email"><br><br><br><br>
            <input type="password" id="password" name="password" placeholder="Password"><br><br><br>
            <input type="submit" name="" value="Login"><hr>
            
        </form>
    </body>
</center>
</html>